---
import { Image } from 'astro:assets'
import cadena_perpetua from '@assets/images/AboutMe/cadena_perpetua.webp'
import el_diario_de_noa from '@assets/images/AboutMe/el_diario_de_noa.webp'
import el_protector from '@assets/images/AboutMe/el_protector.webp'
import folder_front from '@assets/images/AboutMe/folder_front.svg'
import folder_back from '@assets/images/AboutMe/folder_back.svg'
import photo1 from '@assets/images/AboutMe/photo1.jpg'
import photo2 from '@assets/images/AboutMe/photo2.jpg'
import photo3 from '@assets/images/AboutMe/photo3.jpg'
import reincarnated from '@assets/images/AboutMe/reincarnated.jpg'
---

<div class="mx-1.5 sm:mx-3 md:mx-8 mb-10 lg:mx-4 xl:mx-10 2xl:mx-16 py-10">
    <div class="text-base tracking-tight font-medium mb-2.5">
        <span class="text-blue-700">/</span>
        <span class="text-primary">Más sobre mí y lo que me gusta hacer</span>
    </div>
    <div class="grid grid-cols-1 gap-3 sm:gap-2 lg:grid-cols-36 lg:gap-3 max-w-7xl mx-auto">
        <!-- first -->
        <div class="h-67 lg:col-span-14">
            <div class="rounded-2xl flex gap-2 h-full border border-border-primary bg-bg-secondary p-5 overflow-hidden">
                <div class="space-y-2 w-50 flex-shrink-0">
                    <div class="flex flex-col text-center">
                        <span class="font-medium text-primary tracking-tight">Kendrick Lamar</span>
                        <span class="text-secondary">Reincarnated</span>
                    </div>
                    <div class="relative z-20 group">
                        <div class="relative cursor-pointer h-32 w-32 rounded-lg">
                            <div>
                                <Image class="rounded-lg object-cover h-full w-full" src={reincarnated} alt="Reincarnated">
                            </div>
                        </div>
                        <div class="user-select-none pointer-events-none absolute top-1/2 left-16 -z-2 -translate-y-1/2 transition-all duration-300 group-hover:left-21">
                            <svg width="137" height="124" viewBox="0 0 137 124" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <defs>
                                    <pattern
                                    id="reincarnated"
                                    patternUnits="objectBoundingBox"
                                    width="1"
                                    height="1"
                                    >
                                        <image
                                            href={reincarnated.src}
                                            width="42"
                                            height="42"
                                            preserveAspectRatio="xMidYMid slice"
                                        />
                                    </pattern>
                                </defs>
                                <g clip-path="url(#clip0_1452_25)">
                                <path d="M62 124C96.2417 124 124 96.2417 124 62C124 27.7583 96.2417 0 62 0C27.7583 0 0 27.7583 0 62C0 96.2417 27.7583 124 62 124Z" fill="#313133"/>
                                <path d="M62 116.75C92.2376 116.75 116.75 92.2376 116.75 62C116.75 31.7624 92.2376 7.25 62 7.25C31.7624 7.25 7.25 31.7624 7.25 62C7.25 92.2376 31.7624 116.75 62 116.75Z" stroke="#4D4D51" stroke-width="0.5"/>
                                <path d="M62 112.75C90.0285 112.75 112.75 90.0285 112.75 62C112.75 33.9715 90.0285 11.25 62 11.25C33.9715 11.25 11.25 33.9715 11.25 62C11.25 90.0285 33.9715 112.75 62 112.75Z" stroke="#4D4D51" stroke-width="0.5"/>
                                <path d="M62 108.75C87.8193 108.75 108.75 87.8193 108.75 62C108.75 36.1807 87.8193 15.25 62 15.25C36.1807 15.25 15.25 36.1807 15.25 62C15.25 87.8193 36.1807 108.75 62 108.75Z" stroke="#4D4D51" stroke-width="0.5"/>
                                <path d="M62 104.75C85.6102 104.75 104.75 85.6102 104.75 62C104.75 38.3898 85.6102 19.25 62 19.25C38.3898 19.25 19.25 38.3898 19.25 62C19.25 85.6102 38.3898 104.75 62 104.75Z" stroke="#4D4D51" stroke-width="0.5"/>
                                <path d="M62 100.75C83.401 100.75 100.75 83.401 100.75 62C100.75 40.599 83.401 23.25 62 23.25C40.599 23.25 23.25 40.599 23.25 62C23.25 83.401 40.599 100.75 62 100.75Z" stroke="#4D4D51" stroke-width="0.5"/>
                                <path d="M62 96.75C81.1919 96.75 96.75 81.1919 96.75 62C96.75 42.8081 81.1919 27.25 62 27.25C42.8081 27.25 27.25 42.8081 27.25 62C27.25 81.1919 42.8081 96.75 62 96.75Z" stroke="#4D4D51" stroke-width="0.5"/>
                                <path d="M62 85C74.7025 85 85 74.7025 85 62C85 49.2975 74.7025 39 62 39C49.2975 39 39 49.2975 39 62C39 74.7025 49.2975 85 62 85Z" fill="#4D4D51"/>
                                <path d="M62 122C95.1371 122 122 95.1371 122 62C122 28.8629 95.1371 2 62 2C28.8629 2 2 28.8629 2 62C2 95.1371 28.8629 122 62 122Z" stroke="#6A6B70" stroke-width="1.2"/>
                                <g filter="url(#filter0_f_1452_25)">
                                <g style="mix-blend-mode:soft-light">
                                <path d="M69 60.6462L116.856 32C130.606 58.1523 121.911 83.1135 115.845 92.3254L69 60.6462Z" fill="white" fill-opacity="0.11"/>
                                </g>
                                </g>
                                <path d="M106 37C113.005 48.9412 117.208 67.4706 106.467 86" stroke="url(#paint0_linear_1452_25)" stroke-opacity="0.3" stroke-width="0.5"/>
                                <path d="M116.094 36.0853C120.337 43.9837 126.511 64.8835 117.267 85.2957" stroke="url(#paint1_linear_1452_25)" stroke-opacity="0.7"/>
                                <circle cx="62" cy="62" r="20.65" fill="url(#reincarnated)"/>
                                <path d="M62 65C63.6569 65 65 63.6569 65 62C65 60.3431 63.6569 59 62 59C60.3431 59 59 60.3431 59 62C59 63.6569 60.3431 65 62 65Z" fill="#FDFDFF" stroke="black" stroke-width="0.5"/>
                                </g>
                                <defs>
                                <filter id="filter0_f_1452_25" x="57" y="20" width="79.1895" height="84.3254" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                                <feGaussianBlur stdDeviation="6" result="effect1_foregroundBlur_1452_25"/>
                                </filter>
                                <linearGradient id="paint0_linear_1452_25" x1="110.707" y1="37.8235" x2="110.707" y2="86.8235" gradientUnits="userSpaceOnUse">
                                <stop stop-color="white" stop-opacity="0"/>
                                <stop offset="0.51" stop-color="white"/>
                                <stop offset="1" stop-color="white" stop-opacity="0"/>
                                </linearGradient>
                                <linearGradient id="paint1_linear_1452_25" x1="118.779" y1="36.0213" x2="119.952" y2="85.2317" gradientUnits="userSpaceOnUse">
                                <stop stop-color="white" stop-opacity="0"/>
                                <stop offset="0.51" stop-color="white"/>
                                <stop offset="1" stop-color="white" stop-opacity="0"/>
                                </linearGradient>
                                <clipPath id="clip0_1452_25">
                                <rect width="137" height="124" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="flex-1">
                    <h3 class="font-medium text-balance tracking-tighter text-primary text-lg leading-6 mb-2.5">
                        Canción que tengo en repetición
                    </h3>
                    <p class="text-secondary">
                        Escuchar música me gusta mucho. Me ayuda a desconectar, a concentrarme y a reconectar conmigo mismo.                    
                    </p>
                </div>
            </div>
        </div>
        <!-- second and last -->
        <div class="grid grid-cols-1 md:grid-cols-7 lg:contents gap-3 sm:gap-2 lg:gap-3">
            <!-- second -->
            <div class="h-67 md:col-span-4 lg:col-span-13">
                <div class="relative rounded-2xl h-full border border-border-primary bg-bg-secondary p-5 overflow-hidden">
                    <div class="flex flex-col h-full gap-5 w-full">
                        <div class="text-balance relative z-30">
                            <h3 class="font-medium tracking-tighter text-primary text-lg leading-6 mb-2.5">
                                Mí película favorita
                            </h3>
                            <p class="text-secondary">
                                Ver películas es una de las cosas que más me entretienen, y estas son algunas de mis favoritas.
                            </p>
                        </div>
                        <div class="flex gap-3 justify-center">
                            <div class="relative transition-all duration-300 delay-300 hover:-top-2.5 w-26.5 h-40  select-none touch-none cursor-grab">
                                <div class="rounded-lg overflow-hidden w-full h-full shadow-sm">
                                    <Image class="rounded-lg object-cover" src={el_diario_de_noa} alt="El diario de Noa">
                                </div>
                            </div>
                            <div class="relative transition-all duration-300 delay-300 hover:-top-2.5 w-26.5 h-40 select-none touch-none cursor-grab">
                                <div class="rounded-lg overflow-hidden w-full h-full shadow-sm">
                                    <Image class="rounded-lg object-cover" src={cadena_perpetua} alt="Cadena perpetua">
                                </div>
                            </div>
                            <div class="relative transition-all duration-300 delay-300 hover:-top-2.5 w-26.5 h-40  select-none touch-none cursor-grab">
                                <div class="rounded-lg overflow-hidden w-full h-full shadow-sm">
                                    <Image class="rounded-lg object-cover" src={el_protector} alt="El protector">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="absolute w-full bg-gradient-to-t from-bg-primary to-transparent h-6 bottom-0 left-0"></div>
                </div>
            </div>
            <!-- third -->
            <div class="group h-67 md:col-span-3 lg:col-span-9">
                <div class="relative rounded-2xl h-full border border-border-primary bg-bg-secondary p-5 overflow-hidden">
                    <div class="text-center text-balance">
                        <h3 class="font-medium tracking-tighter text-primary text-lg leading-6 mb-2.5">
                            Algunas otras fotos que encontré en mí galería
                        </h3>
                        <p class="text-secondary">
                            Fotos que encontré y me gustaron.
                        </p>
                    </div>
                    <div class="absolute left-1/2 -bottom-52 -translate-x-1/2 ">
                        <svg width="306" height="306" viewBox="0 0 306 306" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="153" cy="153" r="109.5" stroke="#D7D9DF" stroke-opacity="0.8"/>
                            <circle cx="153" cy="153" r="152.5" stroke="#D7D9DF" stroke-opacity="0.8 "/>
                        </svg>
                    </div>
                    <div class="relative z-10 mt-9 flex justify-center">
                        <div class="w-fit relative z-40">
                            <div class="relative">
                                <div>
                                    <Image src={folder_front} alt="folder_1">
                                </div>
                                <span class="text-sm pointer-events-none select-none font-medium absolute top-1 text-indigo-600 left-2">
                                    Mis fotos
                                </span>
                            </div>
                            <!-- photo1 -->
                            <div class="transition-all duration-300 group-hover:-top-16 group-hover:-rotate-11 group-hover:-left-8 absolute -top-1 -left-1 -z-5 transform -rotate-7 p-1 bg-white border-[0.8px] w-fit rounded-lg border-[#cfd0d2]">
                                <div class="w-11 h-11 select-none touch-none">
                                    <div class="rounded-md overflow-hidden w-full h-full"  style="box-shadow: inset 0px 0px 0px 0.8px rgba(255, 255, 255, 0.2);">
                                        <Image class="object-cover" src={photo1} alt="photo">
                                    </div>
                                </div>
                            </div>
                            <!-- photo2 -->
                            <div class="transition-all duration-300 group-hover:-top-18 group-hover:rotate-0 absolute left-7 -top-[6.5px] -z-4 transform -rotate-5 p-1 bg-white border-[0.8px] w-fit rounded-lg border-[#cfd0d2]">
                                <div class="w-11 h-11 select-none touch-none">
                                    <div class="rounded-md overflow-hidden w-full h-full"  style="box-shadow: inset 0px 0px 0px 0.8px rgba(255, 255, 255, 0.2);">
                                        <Image class="object-cover" src={photo2} alt="photo">
                                    </div>
                                </div>
                            </div>
                            <!-- photo3 -->
                            <div class="transition-all duration-300 group-hover:-top-16 group-hover:rotate-11 group-hover:-right-8 absolute -right-1 -top-0.5 -z-5 p-1 transform rotate-11 bg-white border-[0.8px] w-fit rounded-lg border-[#cfd0d2]">
                                <div class="w-11 h-11 select-none touch-none">
                                    <div class="rounded-md overflow-hidden w-full h-full"  style="box-shadow: inset 0px 0px 0px 0.8px rgba(255, 255, 255, 0.2);">
                                        <Image class="object-cover" src={photo3} alt="photo">
                                    </div>
                                </div>
                            </div>
                            <img class="absolute left-1/2 transform -translate-x-1/2 -top-2.5 -z-10" src={folder_back.src} alt="folder_2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>